<!DOCTYPE html>
<html>
<head>
    <title>Visualization Charts</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    {% include "nav.html" %}

    <ul class="nav nav-pills nav-fill mt-3" id="chartTabs" role="tablist">
        <li class="nav-item">
            <p><b>{{ticker}}</b></p>
        <li class="nav-item">
        <li class="nav-item">
            <a class="navbar-brand" href="#sma_bb">SMA-Bollinger-Bands</a>
        <li class="nav-item">
            <a class="navbar-brand" href="#ema_bb">EMA-Bollinger-Bands</a>
        <li class="nav-item">
            <a class="navbar-brand" href="#ICH">ICHIMOKU</a>
        </li>
    </ul>

    <div id="sma_bb">
        {% if sma_bb is defined and sma_bb is not none%}
        <!-- Insert the Plotly chart here -->
        <iframe src="{{ sma_bb }}" width="1400" height="500"></iframe>
        {% endif %}
    </div>

    <div id="ema_bb">
        {% if ema_bb is defined and ema_bb is not none%}
        <iframe src="{{ ema_bb }}" width="1400" height="500"></iframe>
        {% endif %}
    </div>

    <div id="ICH">
        {% if ichimoku_chart is defined and ichimoku_chart is not none%}
        <iframe src="{{ ichimoku_chart }}" width="1400" height="500"></iframe>
        {% endif %}
    </div>




</body>
</html>
